{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <!-- <i class="feather icon-unlock auth-icon"></i> -->
                        <img src="../static\assets/images/mlogo.png">
                    </div>
                    <h3 class="mb-4 modern">Login</h3>

                    <span class="mb-0 text-muted modern">
                        {% if msg %}
                            {{ msg | safe }}
                        {% else %}
                            Add your credentials
                        {% endif %} 
                    </span>

                    <br />
                    <br />
                    
                    <form role="form" method="post" action="">

                        {{ form.hidden_tag() }}                    

                        <div class="input-group mb-3 modern">
                            {{ form.username(placeholder="Username", class="form-control") }}
                        </div>
                        
                        <div class="input-group mb-4 modern">
                            {{ form.password(placeholder="Password", class="form-control", type="password") }}
                        </div>
                        
                        <div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr modern"> Save Details</label>
                            </div>
                        </div>
                        <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4 modern">Login</button>

                    </form>

                    <p class="mb-0 text-muted modern">Don’t have an account? <a href="{{ url_for('base_blueprint.register') }}" >Signup</a></p>
                    <br />
                    <!-- <p class="mb-2 text-muted">
                        &copy; <a target="_blank" href="https://bit.ly/37fF9RT">CodedThemes</a> 
                        - <a target="_blank" 
                             href="https://appseed.us/admin-dashboards/flask-dashboard-dattaable">Flask Datta Able</a>.
                    </p> -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
