{% extends "layouts/base-fullscreen.html" %}

{% block title %} Welcome {% endblock title %} 

{% block content %} 

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span> 
                <span class="r s"></span> 
                <span class="r s"></span> 
                <span class="r"></span> 
            </div> 
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                   <!--  <i class="feather icon-unlock auth-icon"></i>  -->
                        <img src="../static\assets/images/mlogo.png">
                    </div>
                    <h3 class="mb-4 modern">Welcome</h3> 

                    <span class="mb-4 modern text-muted">
                        {% if msg %} 
                            {{ msg | safe }} 
                        {% else %} 
                            New Mother
                        {% endif %} 
                    </span>

                    <br />
                    <br />

                    <form method="POST" action="/login">

                        <button onclick="location.href='/login'" class="modern btn btn-primary shadow-2 mb-4">Login</button>

                    </form>

                    <form role="form" method="POST" action="/register">

                        <button onclick="location.href='/register'" class="modern btn btn-primary-2 shadow-2 mb-4">Register</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock content %} 